<!-- サークルの登録ページのメッセージ文 -->
<h2>こちらは <strong>サークル・部活・学生団体</strong> の登録ページです</h2>
<h3>＊サークル・部活・学生団体の方のみがイベント(新入生歓迎会など)を投稿することができます＊</h3>
<h3>全ての項目を入力、団体の種類(部活・サークル・学生団体・その他)を選んだ上で登録をしてください</h3>
<p>==========================================================================</p>