
<!-- サークルの登録ページのメッセージ文 -->
<div class="col-sm-12" style="background-color:#EDF7FF;">
<h1>こちらは <strong>サークル・部活・学生団体</strong> の登録ページです<br>
＊サークル・部活・学生団体の方のみがイベント(新入生歓迎会など)を投稿することができます＊<br>
全ての項目を入力、団体の種類(部活・サークル・学生団体・その他)を選んだ上で登録をしてください</h1>
<p>===========================================================================================</p>
</div>