<div class="row">
	<h id="header-title">
	<%= link_to "ログイン", new_user_session_path,  :class => "cp_btn", method: :post %>
    </h>

	<h id="header-title">
	<%= link_to "サークルの登録をする", new_user_registration_path, :class => "cp_btn", method: :get  %>
     </h>
</div>

