<p>customer用です

いろんなクラブが投稿している
＠userさんから一言の部分をクリックするとそのサークルのホームページに行くことができます

応募の方法
１、そのサークルのホームページから登録、自己紹介した後に応募を申し込む。
２、イベントの詳細画面に移ったらそこから登録、自己紹介した後に申し込む。

クリップとは？？
自分が気に入ったイベントを保存しておくことができます。

最高の大学生活を送りましょう！！
</p>