/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "devise-bootstrap-views";
 @import "bootstrap";
 @import "bootstrap-sprocket";
 @import "font-awesome";


/*フラッシュメッセージ*/
/*ログイン、ログアウト成功時*/
 .notice {
  background-color: #00FFFF;
  color: #white;
  text-align: center;
  padding: 10px;
  font-size:20px;
}

.alert {
  background-color: rgba(219, 30, 20, 0.8);
  color: #white;
  text-align: center;
  padding: 10px;
}
.success{
  color: #white;
  text-align: center;
  padding: 10px;
  background-color: rgba(77, 188, 219, 0.8);
}


/*p.flash{
  display:none;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 10px;

  &.success {
    background-color: rgba(77, 188, 219, 0.8);
  }
  &.notice {
    background-color: rgba(237, 221, 40, 0.8);
  }
  &.error {
    background-color: rgba(219, 30, 20, 0.8);
  }
  &.info {
    background-color: rgba(255, 255, 255, 0.8);
  }
}*/